body {
    background: hsl(212, 45%, 89%);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.content {
    width: 256px;
    height: 420px;
    padding: 16px;
    background: hsl(0, 0%, 100%);
    border-radius: 16px;

}

img {
    border-radius: 16px;
}

.head {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.paragraph {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution {
    text-align: center;

}